<%- include('layout',
	{
	body:
	`
	<div
	class="error-page">
	<h1>Error</h1>
	<p>
		<%= message
			|| 'An unexpected error occurred.'
			%>
	</p>
	<p><a href="/">Return to homepage</a></p>
	</div>
	`) %>