<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0">
	<title>Agora - {{ .Title }}</title>
	<link rel="stylesheet"
		  href="/static/css/style.css">
</head>

<body>
	<header>
		<nav>
			<div class="container">
				<h1>Agora</h1>
				<ul class="nav-links">
					<li><a href="/about">About</a></li>
					<li><a href="/post">Blog Post</a></li>
					<li><a href="/settings">Settings</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main class="container">
		<h2>{{ .Title }}</h2>
		{{ template "content" . }}
	</main>

	<footer>
		<div class="container">
			<p>&copy; {{ .CurrentYear }} Agora</p>
		</div>
	</footer>
</body>

</html>