{{ define "post-list.html" }}
{{ template "layout.html" . }}
{{ end }}

{{ define "content" }}
<h1>Post list</h1>
<div class="post-list">
	<ul>
		{{ range .Data }}
		<li>
			<votes>

			</votes>
			<content>
				<a href="{{ .URL }}">{{ .Title }}</a>
				<small><a href="/posts/{{ .ID }}">{{ .Description }}</a></small>
				<small>
					<a href="/posts/{{ .ID }}">43 Comments</a>
					Created at: {{ .CreatedAt }}
				</small>
			</content>
		</li>
		{{ else }}
		<li>No posts found.</li>
		{{ end }}
	</ul>
</div>
<style>
	.post-list {

		ul {
			list-style-type: none;
			padding: 0;
			display: grid;
			gap: 0.75rem;
		}

		li {
			display: grid;
			grid-template-columns: 2rem 1fr;
			border: var(--gray-1) 1px solid;
			transition: all 0.2s ease-in-out;
			gap: 0.5rem;
			padding: 0;
		}

		li:hover {
			border: var(--gray-3) 1px solid;
		}

		votes {
			background: var(--gray-2);
		}

		content {
			padding: 0.5rem;
			display: flex;
			gap: 0.5rem;
			flex-direction: column;
		}

		small>a {
			color: var(--gray-5);
			text-decoration: none;
		}
	}
</style>
{{ end }}