{{ define "post-submit.html" }}
{{ template "layout.html" . }}
{{ end }}

{{ define "content" }}
<form class="post-submit-form"
	  action="/posts/submit"
	  method="POST">
	<label>
		<span>Title*</span>
		<input type="text"
			   name="title"
			   required>
	</label>
	<label>
		<span>URL</span>
		<input type="text"
			   name="url">
	</label>
	<label>
		<span>Description</span>
		<textarea name="description"></textarea>
	</label>

	<button type="submit">Submit</button>
	<span>* Required</span>
</form>
<style>
	.post-submit-form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 400px;
		margin: auto;
		border: black 1px solid;
		padding: 1rem;
	}

	.post-submit-form button {
		width: 5rem;
		align-self: flex-end;
	}

	.post-submit-form label {
		display: flex;
		flex-direction: column;
	}
</style>
{{ end }}