{{ define "post-list.html" }}
{{ template "layout.html" . }}
{{ end }}

{{ define "content" }}
<h1>Posts</h1>
<div class="post-list">
	<ul>
		{{ range .Data }}
		<li id="post-{{ .ID }}">
			<votes>
				<div>
					{{ if not .UserVoted }}
					<form action="/vote"
						  method="post">
						<input type="hidden"
							   name="post_id"
							   value="{{ .ID }}">
						<button type="submit"
								class="vote-button">
							<img class="icon"
								 src="/static/icons/upvote.svg"
								 alt="Upvote">
						</button>
					</form>
					{{ end }}
				</div>
				<numberofvotes>
					{{ .NumberOfVotes }}
				</numberofvotes>
			</votes>
			<content>
				{{ if .URL }}
				<a href="{{ .URL }}">{{ .Title }}</a>
				{{ else }}
				<a href="/posts/{{ .ID }}">{{ .Title }}</a>
				{{ end }}

				<small><a href="/posts/{{ .ID }}">{{ .Description }}</a></small>
				<small>
					Posted by {{ .UserName }} · {{ .CreatedAt }} ·
					<a href="/posts/{{ .ID }}">{{ .NumberOfComments }} Comments</a>
				</small>
			</content>
		</li>
		{{ else }}
		<li>No posts found.</li>
		{{ end }}
	</ul>
</div>
<style>
	.post-list {

		ul {
			list-style-type: none;
			padding: 0;
			display: grid;
			gap: 0.75rem;
		}

		li {
			display: grid;
			grid-template-columns: 2rem 1fr;
			border: var(--gray-1) 1px solid;
			transition: all 0.2s ease-in-out;
			gap: 0.5rem;
			padding: 0;
		}

		votes {
			background: #E9EBEF;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}

		content {
			padding: 0.5rem;
			display: flex;
			gap: 0.5rem;
			flex-direction: column;
			gap: 0.5rem;
		}

		form {
			margin: 0;
			padding: 0;
			min-width: 0;
			display: grid;
			place-items: center;
		}

		button[type="submit"] {
			padding: 0;
			margin: 0;
			background: none;
			justify-self: center;
			border: none;
			color: var(--foreground);
		}

		numberofvotes {
			display: block;
			text-align: center;
			font-weight: bold;
			color: var(--foreground);
		}

		.icon {
			height: 1rem;

		}

	}
</style>
{{ end }}