{{ define "post-detail.html" }}
{{ template "layout.html" . }}
{{ end }}

{{ define "content" }}
<small><a href="/posts">← Back to all posts</a></small>
<h1>{{ .Data.Post.Title }} [ {{ .Data.Post.ID }} ]</h1>
<small>
	{{ if .Data.Post.URL }}
	<a href="{{ .Data.Post.URL }}">{{ .Data.Post.URL }}</a> ·.
	{{ end }}
	Posted by {{ .Data.Post.UserName }} · {{ .Data.Post.CreatedAt }} · {{ .Data.Post.NumberOFComments }} Comments
</small>
<p>
	{{ .Data.Post.Description }}
</p>

{{ template "comment-form.html" . }}

{{ template "comment-list.html" . }}


{{ end }}