{{ define "post-detail.html" }}
{{ template "layout.html" . }}
{{ end }}

{{ define "content" }}
<small><a href="/posts">← Back to all posts</a></small>
<h1>{{ .Data.Title }} [ {{ .Data.ID }} ]</h1>
<small>
	<a href="{{ .Data.URL }}">{{ .Data.URL }}</a> ·
	Posted by {{ .Data.OwnerID }} on {{ .Data.CreatedAt }}
</small>
<p>
	{{ .Data.Description }}
</p>


<form id="post-comment">
	<label>
		<span>Comment</span>
		<textarea name="comment"
				  placeholder="Write your comment here..."
				  rows="5"
				  required></textarea>
	</label>
	<button type="submit">Submit Comment</button>
</form>

<style>

</style>
{{ end }}