{{ define "post-submit.html" }}
{{ template "layout.html" . }}
{{ end }}

{{ define "content" }}
<form class="post-submit-form"
	  action="/posts/submit"
	  method="POST">
	<label>
		<span>Title*</span>
		<input type="text"
			   name="title"
			   required>
	</label>
	<label>
		<span>URL</span>
		<input type="text"
			   p
			   name="url">
	</label>
	<label>
		<span>Description</span>
		<textarea name="description"></textarea>
	</label>

	<button type="submit">Submit</button>
	<span>* Required</span>
</form>

{{ end }}