<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0">
	<title>{{ .Title }} - Agora</title>
	<link rel="stylesheet"
		  href="/static/css/main.css">
</head>

<body>
	<header>
		{{ template "header.html" . }}
	</header>

	<main class="container">
		<h2>{{ .Title }}</h2>
		{{ template "content" . }}
	</main>

	<footer>
		<div class="container">
			<p>&copy; 2025 Agora - SprintEins</p>
		</div>
	</footer>
</body>

</html>