{{ define "comment-list.html" }}
{{ .Data.Post.NumberOFComments }} Comments
<ul id="comment-list">
	{{ range .Data.Comments }}
	<li id="comment-{{ .ID }}">
		<p><small>{{ .UserName }} · {{ .CreatedAt }}</small> </p>
		<text>{{ .Text }}</text>
	</li>

	{{ else }}
	<span>No comments yet. Be the first!</span>
	{{ end }}
</ul>
<style>
	#comment-list {
		list-style-type: none;
		padding: 0;
		display: grid;
		gap: 0.75rem;


		li {
			padding: 0.5rem;
		}

		text {
			white-space: pre-wrap;
		}
	}
</style>

{{end}}