@import url("./mvp.css");
@import url("./global.css");

:root {
	--gray-1: #E5E5E5;
	--gray-2: #DBDDE1;
	--gray-3: #B3B3B8;
}


a[href^="/"] {
	color: var(--accent-foreground);
	text-decoration: none;
}

a[href^="/"]:hover{
	/* color var(--gray-1): */
	background-color: var(--accent);
}

h4{
	margin:0;
	padding:0;
}